
.images{
  height: 500px !important;
  width: 100% !important;
}

.my-container {
  margin-bottom: 100px;
}

.post-list {
  margin-bottom: 100px;
}

.fa-2x {
  margin-right: 10px;
  margin-left: 10px;
}

.post-image {
  display: inline;
  height: 150px;
  width: 225px;
}

.pencil{
  border: none;
  text-align: right !important;
}